/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 100;
  transition: 0.3s ease-in-out;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ccc;
}

main {
  margin-left: 300px;
}

/* Table General Style */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

td:last-child {
  text-align: center;
}

#add_btn {
  padding-block: 10px;
  padding-inline: 15px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
}

.body-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 50px;
  padding-block: 50px;
  background-color: #f2eeed;
}

.lecture_input {
  width: 100%; /* Adjusted to 100% for responsiveness */
  border-radius: 10px;
  border: 0px;
  padding-block: 10px;
  padding-inline: 10px;
}

#label {
  font-weight: 50;
  font-size: 16px;
  margin-block: 10px;
}

.lecture_save_btn {
  margin-top: 15px;
  padding-block: 10px;
  padding-inline: 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 0px;
  width: 100%; /* Adjusted to 100% for responsiveness */
  cursor: pointer;
}

/* Search Container */
.search-container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.search {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.search-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
      position: relative;
      width: auto;
  }

  .navbar ul {
      flex-direction: column;
  }

  .navbar li {
      display: inline-block;
      width: 100%; /* Make the list items full width */
      box-sizing: border-box;
  }

  main {
      margin-left: 0;
  }
}
